<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container" id="app">
        <h1>Validate.json</h1>
        <hr>
        
        <div v-if="tab == 1">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="control-label">JSON Base</label>
                        <textarea name="" v-model="struct.base" id="" cols="30" rows="20" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="control-label">JSON de Entrada</label>
                        <textarea name="" v-model="struct.validate" id="" cols="30" rows="20" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <button type="button" @click="validate()" class="btn btn-primary">Validar</button>
        </div>

        <div v-if="tab == 2">
            <ul class="list-group" v-if="arrMessage.length > 0">
                <li class="list-group-item" v-for="item in arrMessage" v-if="item.visible" v-bind:style="{ marginLeft: (15 * item.level) + 'px' }" v-bind:class="{ 'list-group-item-success' : !item.typeError, 'list-group-item-danger' : item.typeError }">
                    <div v-if="!item.typeError">
                        <span class="glyphicon glyphicon-ok"></span>
                        "{{ item.field }}" <span v-if="item.message">- {{ item.message }}</span>
                    </div>
                    <div v-if="item.typeError">
                        <span class="glyphicon glyphicon-remove"></span>
                        "{{ item.field }}" <span v-if="item.message">- {{ item.message }}</span>
                    </div>
                </li>
            </ul>
            <h3 style="text-align:center;color:green" v-else>
                Estrutura válida !
            </h3>
            <button type="button" @click="tab = 1" class="btn btn-primary">Voltar</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="app.js"></script>
    <script src="Enum.js"></script>
    <script src="mock.js"></script>
    <script>
    new Vue({
        el: "#app",
        data () {
            return {
                tab: 1,
                Enum,
                struct: {
                    base: JSON.stringify(base),
                    validate: JSON.stringify(validate)
                },
                arrMessage: []
            }
        },
        methods: {
            validate() {
                const validate = new Valid(JSON.parse(this.struct.base), JSON.parse(this.struct.validate));

                this.arrMessage = validate.go();
                this.tab = 2;

                debugger
            }
        }
    });
    </script>
    <style>
    .list-group-item {
        padding: 3px 5px!important;
    }
    </style>
</body>

</html>